GeniusX.AXAModules/Scheduler/ScheduledTaskClient/Service References/ScheduledTaskXuber6/ScheduledTaskService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Xiap.Framework.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Xiap.Framework.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ScheduledTaskResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="tns:ScheduledTaskResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduledTaskResponse" nillable="true" type="tns:ScheduledTaskResponse" />
  <xs:simpleType name="ScheduledTaskResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Retry" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ScheduledTaskResult" nillable="true" type="tns:ScheduledTaskResult" />
</xs:schema>