GeniusX.AXAModules/Scheduler/ScheduledTaskClient/Service References/ScheduledTaskXuber6/ScheduledTaskService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62286/XiapServiceHost/ScheduledTask/ScheduledTaskService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:62286/XiapServiceHost/ScheduledTask/ScheduledTaskService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Xiap.Framework.Common" />
  <xs:element name="Invoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Xiap.Framework.Common" minOccurs="0" name="InvokeResult" nillable="true" type="q2:ScheduledTaskResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>